body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


/* main header styling */

.heading {
    border: 3px solid black;
    background-color: orange;
    width: 100%;
    height: 80px;
    top: 0px;
}

.search {
    margin-left: 403px;
    margin-top: -60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

input {
    width: 800px;
    height: 25px;
}


/* styling of subheading under header */

.subheading {
    border: 2px solid black;
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
}

.icon {
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
    margin-top: 5px;
}

.searchbutton {
    border-radius: 10px;
    width: 80px;
    height: 40px;
    background-color: rgb(97, 20, 20);
    margin-top: -5px;
    position: absolute;
}

.menu {
    margin-left: 35px;
    margin-top: -20px;
}

.optionlist a {
    color: white;
    list-style: none;
    margin-left: 200px;
    text-decoration: none;
}

.optionlist {
    margin-top: -20px;
}


/* login button styling for popup */

.button {
    font-size: 1em;
    padding: 10px;
    background-color: deeppink;
    margin-left: 1200px;
    margin-top: -29px;
    height: 17px;
    width: 50px;
    position: absolute;
    color: #fff;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}


/* login form styling */

.skyblue-box {
    width: 800px;
    height: 800px;
    background-color: skyblue;
    position: absolute;
    margin-left: 350px;
}

.purple-box {
    background-color: purple;
    height: 550px;
    width: 700px;
    position: relative;
    margin-top: 80px;
    margin-left: 50px;
}

.purple-box img {
    margin-left: 270px;
    margin-top: 30px;
    border-radius: 150px;
    height: 150px;
    width: 150px;
}

.login-form {
    position: relative;
    text-align: center;
    margin: 10px;
    color: white;
    margin-bottom: 0px;
}

.login-form input {
    background-color: white;
    width: 500px;
    height: 50px;
    border-radius: 50px;
}

.login-form button {
    background-color: white;
    margin-top: 20px;
    height: 20px;
}

.remember-me {
    color: black;
}

.submit button {
    background-color: orange;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    margin-left: -200px;
}

.forget {
    color: black;
    text-decoration: underline;
    margin-top: -30px;
    position: absolute;
}


/* styling og middle content */

.salesimage {
    margin-top: 20px;
    margin-left: 150px;
    border: 5px solid orange;
}

.container {
    color: black;
    text-align: center;
    border: 8px solid rgb(0, 0, 0);
    height: 300px;
    margin: 30px;
    padding: 100px;
    background-color: rgba(255, 166, 0, 0.767);
}

.table td {
    padding: 0px 40px 0px 40px;
}

#tv {
    width: 200px;
    height: 30px;
    margin-right: 50px;
    margin-top: 20px;
}

.price {
    width: 190px;
    margin-top: 30px;
}

.instruction {
    color: rgb(255, 0, 0);
}